<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>readysetfly.me</title>
    <style>
        html {
            min-height: 100%;
            background-image: url(static/bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .header {
            font-family: monospace;
            font-size: 1.3rem;
        }
    </style>
</head>
<body><div class="header">READYSETFLY.ME</div></body>
</html>